
h3 {
    font-size: 30px;
    color: #373D3F;
}

h6 {
  font-size: 18px !important;
  color: #d1dade;
}

.text-navy {
    color:darkslategray;
    font-size: 25px;
}
.cart-product-imitation {
  text-align: center;
  align-items: center;
  margin-top: 50%;
  padding-top: 25px;
  height: 80px;
  width: 80px;
  background-color: #350a4e;
  color:#d1dade;
  border-radius: 50%;
}

.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
  
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0px;
  padding: 0;
  
  
}
.box_ibox{
  background-color: #fff;
  border-radius: 15px!important;
  box-shadow: 0 15px 31px -12px rgba(0, 0, 0, 0.8)!important;
}
.box_ibox:hover{
  -o-translateY: -5px;
  box-shadow: 0 35px 31px -12px rgba(0, 0, 0, 0.8)!important;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.pub {
    height: 100px;
    color: grey ;
    padding-top: 35%;
    bottom: 14px;
}

.annonce_price {
    white-space: nowrap;
    padding-left: 20px; 
    color: darkslategray;
}

.seat_nb {
  border-radius: 40%;
  background-color: #f8ac59;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 7px;
  font-size: 22px;
  padding-bottom: 5px;
  padding: 10px;
}

.seat_img {
  margin-bottom: 5px;
  block-size: 20px;
}

.menu_annonce {
  padding-top: 10px;
  font-size: 18px;
}

.car_annonce {
  margin-top: 25px;
}

.date_annonce {
  margin-top: 0px;
  font-size: 17px;
}

.user_perso {
  padding-top: 50px;
}

.container-espaceperso {
  max-width: 90vw;
  margin-left: 200px;
}








.card{

	width: 350px;
	border: none;
	box-shadow: 0 15px 31px -12px rgba(0, 0, 0, 0.8)!important;
	
  border-bottom-right-radius: 15px !important;
	border-bottom-left-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.circle-image img{

	border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: 5px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer;

}


.dot {
      height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000;
}

.name{
	margin-top: 20px;
	font-size: 20px;
}


.fw-500{
	font-weight: 500 !important;
}


.start{

	color: green;
}

.stop{
	color: red;
}


.rate{

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
  background-color: #350a4e;
  height: 180px;
}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}



.star-icon {

  color: #FFD600;
}

.rate-icon0 {

  color: #999;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons{
	top: 25px;
    position: relative;
}


.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}


.rating-submit:hover{
	
	color: #fff;
}

.user-card-container {
  padding-left: 20px;
}


.note {
  margin-top: 18px;
}

.number_card {
  color:darkslategrey;
  font-size: 25px;
  font-weight:400;
  width: 150px;
}

.followers {
  color:#999; 
  width: 150px;
  
}

.stat_card tr {
  padding-top: 30px;
 margin-left: 50px;
 text-align: center;
 column-width: 100px;
}