@charset "utf-8";

/*********************************
9.2 Offers Grid
*********************************/



.GridOffre
{
	width: 100%;
	margin-top: 66px;
}
.offersItem
{
	width: 100%;
	margin-bottom: 50px;
	padding:5px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgb(42, 42, 42,0.6);
}
.offersItem:last-child
{
	margin-bottom: 0px;
}
.ImageContainer
{
	width: 285px;
	height: 263px;
	overflow: hidden;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.offersImageBackground
{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
	overflow: hidden;
}

.offersPimagebackground
{
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: auto;
	margin-left: 70px;
	margin-top: 50px;
	border-radius: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.offerName
{
	position: absolute;
	left: 0;
	bottom: 27px;
	width: 100%;
	height: 33px;
	background: rgb(214, 40, 40,0.8);
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}
.offerNameDriver{
	position: absolute;
	left: 0;
	bottom: 225px;
	width: 100%;
	height: 33px;
	background: rgb(204, 182, 94,0.9);
	overflow: hidden;
	color: #FFFFFF;
	text-align: center;
}
.offerDate{
	position: absolute;
	left: 0;
	bottom: 210px;
	width: 100%;
	height: 33px;
	background: rgb(204, 182, 94,0.8);
	overflow: hidden;
	text-align: end;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
}
.offerDate_demande
{
	position: absolute;
	left: 0;
	bottom: 210px;
	width: 100%;
	height: 33px;
	background: rgb(204, 182, 94,0.8);
	overflow: hidden;
	text-align: center;
}
.offerName_car{
	position: absolute;
	left: 0;
	bottom: 27px;
	width: 100%;
	height: 33px;
	background: rgb(214, 40, 40,0.8);
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}

.offerName a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 35px;
	padding-left: 22px;
}
.offerNameDriver a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 35px;
	padding-left: 22px;
	font-weight: 700;
}
.offerDate a{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	line-height: 35px;
	padding-left: 22px;
}
.offerName_car a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 35px;
	padding-left: 22px;
}
.offersContent
{
		display: 100%;
}
.offersPrice
{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	color: #D62828;
	line-height: 25px;
	text-align: start;
}
.offersPrice span
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-left: 12px;
}
.offersRating
{

}
.offersRating i::before
{
	font-size: 13px;
	margin-right: 2px;
}
.offersText
{
	font-size: 14px;
	font-weight: 400;
	color: #929191;
	margin-top: 16px;
	margin-bottom: 0px;
}
.offersIcons
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 21px;
}
.offersIcons_demandes
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 21px;

}
.offersIcons_item
{
	display: inline-block;
	margin-right: 15px;
}
.offersIcons_item:last-child
{
	margin-right: 0px;
}
.offersIcons_people
{
	display: inline-block;
	margin-right: 15px;
}

.offersIcons_people:last-child
{
	margin-right: 0px;
}

.offerReviews
{
	position: absolute;
	top: 0;
	right: 0;
}
.offerReviews_content
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}
.offerReviews_title
{	
	font-size: 20px;
	font-weight: 700;
	color: #2d2c2c;
	display: inline-block;	
	line-height: 25px;
	text-align: start;
}
.offerReviews_subtitle
{
	text-align: right;
	font-size: 16px;
	font-weight: 600;
	color: #929191;
	margin-top: 1px;
}
.offerReviews_rating
{

	margin-top: 10px;
	margin-left: 10px;	
	display: inline-block;
	width: 62px;
	height: auto;
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 57px;
	background: #003049;
	vertical-align: middle;
	border-radius: 45%;
	-webkit-transform: translateY(-4px);
	-moz-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	transform: translateY(-4px);
}
.rowF {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -100px;
    margin-left: -10px;
}
